$t-color-1: #1f306e
$t-color-2: #553772
$t-color-3: #8f3b76
$t-color-4: #c7417b
$t-color-5: #f5487f

.t-bg-1
	background-color: $t-color-1
.t-bg-2
	background-color: $t-color-2
.t-bg-3
	background-color: $t-color-3
.t-bg-4
	background-color: $t-color-4
.t-bg-5
	background-color: $t-color-5

.t-bg-grad-1
	background: linear-gradient(0.25turn, #101b45, #c7417b)


#t-btn-light:hover
	color: $t-color-4