<div class="row" *ngIf="profiles.length == 0; else showProfiles">
  <div class="col-auto my-5 mx-auto">No users here</div>
</div>
<ng-template #showProfiles>
  <hr class="my-2">
  <div *ngFor="let u of users">
    <div class="row m-0">
      <div class="col-5 my-auto">
        <div class="p-1" style="text-align: center">
          <div class="img-snip rounded-circle border" style="height:80px;width:80px;display: inline-block;">
            <img [src]="createImgPath(getProfile(u?.id)?.profilePicturePath)" onerror="this.src='https://images.vexels.com/media/users/3/147103/isolated/preview/e9bf9a44d83e00b1535324b0fda6e91a-instagram-profile-line-icon-by-vexels.png'" alt="" class="" style="height:80px; min-height: 80px">
          </div>
        </div>
      </div>
      <div class="col-7 my-auto" style="text-align: center">
        <div style="display: inline-block;">
          <a class="btn t-form-4 waves-effect z-depth-0" routerLink="/profile/{{u?.userName}}">
            <p class="my-0"><b>{{u?.userName}}</b></p>
            <p class="my-0">{{getProfile(u?.id)?.profileName}}</p>
          </a>
        </div>
      </div>

      <hr class="my-2">
    </div>
  </div>
</ng-template>

