<div class="card col-md-6 my-3 mx-auto" style="border-radius: 0">

  <h5 class="card-header text-white text-center py-4 t-bg-grad-1" style="border-radius: 0">
    <div *ngIf="isPosting; else editTextBlock">
      New post
    </div>
    <ng-template #editTextBlock>
      Edit post
    </ng-template>
  </h5>

  <div class="card-body px-lg-5 pt-0">

    <div class="profile-userpic mx-auto mt-3 " style="text-align: center;">
      <button (click)="file.click()" class="btn img-btn-1">
        <img [src]="createImgPath(PicturePath)" onerror="this.src='https://cdn0.iconfinder.com/data/icons/set-app-incredibles/24/Image-01-512.png'" alt="">
      </button>
      <input #file type="file" (change)="uploadFile(file.files)" style="display:none;">
    </div>

    <div class="md-form mt-3">
      <label for="materialEditProfileFormProfileInfo">Post info</label>
      <textarea id="materialEditProfileFormProfileInfo" class="form-control t-form-4" [(ngModel)]="PostText" value="{{PostText}}"></textarea>
    </div>

<!--
    <div class="md-form">
      <input id="materialEditProfileFormProfilePicture" class="form-control t-form-4" [(ngModel)]="PicturePath">
      <label for="materialEditProfileFormProfilePicture">PicturePath</label>
    </div>
-->
  
    <div *ngIf="isPosting; else editingBlock">
    <button  (click)="post()" id="t-btn-outline-4" class="btn t-form-4 btn-rounded btn-block my-4 waves-effect z-depth-0">Post</button>
    <p class="text-center">
      <a (click)="deleteFile()" href="" routerLink="../profile/{{UserName}}" class="t-text-color-4">Cancel</a>
    </p>
    </div>
    <ng-template #editingBlock>
    <button (click)="editPost()" id="t-btn-outline-4" class="btn t-form-4 btn-rounded btn-block my-4 waves-effect z-depth-0">Save changes</button>
    <p class="text-center">
      <a (click)="deleteFile()" href="" routerLink="../../profile/{{UserName}}" class="t-text-color-4">Cancel</a>
    </p>
    </ng-template>

  </div>
</div>

